<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






<div class="w3-container w3-black">
	<h2>Dados do Cadastro</h2>
    <form class="card-block" (ngSubmit)="enviarDados()" *ngIf="! enviado" #formulario="ngForm">
        


		<div class="form-group" [class.has-success]="nome.valid" [class.has-danger]="nome.invalid">
		    <i class="ra ra-player ra-2x"></i>
            <label for="nome" >Nome Usuário</label>
            <input class="form-control" [class.form-control-success]="nome.valid" type="text" id="nome" [(ngModel)]="_nome" name="nome" #nome="ngModel" placeholder="Digite o Nome" required>

            <div [hidden]="nome.valid || nome.pristine">
                <small [ngClass]="{'form-control-danger': 'nome.invalid || nome.drity',
                               'form-control-feedback': 'nome.invalid || nome.drity'}">O nome é uma campo obrigatório!</small>
            </div>
        </div>

        
		<div class="form-group" [class.has-success]="nick.valid" [class.has-danger]="nick.invalid">
			<i class="ra ra-player-pyromaniac ra-2x"></i>
            <label for="nick">Nick</label>
            <input class="form-control" [class.form-control-success]="nome.valid" type="text" id="nick" [(ngModel)]="_nick" name="nick" #nick="ngModel" placeholder="Digite o Nick" required>

            <div [hidden]="nick.valid || nick.pristine">
                <small [ngClass]="{'form-control-danger': 'nick.invalid || nick.drity',
                               'form-control-feedback': 'nick.invalid || nick.drity'}">O Nick é uma campo obrigatório!</small>
            </div>
        </div>

        
		<div class="form-group">
		<i class="ra ra-book ra-2x"></i>
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" [(ngModel)]="_email" name="email" #email="ngModel">
        </div>

        
		<div class="form-group">
		<i class="ra ra-axe ra-2x"></i>
		<i class="ra ra-fire ra-2x"></i>
		<i class="ra ra-ankh ra-2x"></i>
		<i class="ra ra-archer ra-2x"></i>
		<i class="ra ra-daggers ra-2x"></i>
		<i class="ra ra-shield ra-2x"></i>
			
		
		<br>
            <label for="tipo">Selecione sua Classe</label>
            <select id="tipo" [(ngModel)]="_tipo" name="tipo" #tipo="ngModel" >
            <option class="form-control" *ngFor="let item of tipos"   [value]="item">{{item}} </option>
        </select>
        </div>
		
		<div class="form-group">
		<i class="ra ra-uncertainty ra-2x"></i>
		<br>		
            <label for="sexo">Sexo</label>
            <select id="sexo" [(ngModel)]="_sexo" name="sexo" #sexo="ngModel">
            <option class="form-control" *ngFor="let item of sexos"  [value]="item">{{item}}</option>
        </select>
        </div>
		
		<div class="form-group">
			<i class="ra ra-muscle-up ra-2x"></i>
			<i class="ra ra-aware ra-2x"></i>
			<i class="ra ra-hearts ra-2x"></i>
			<i class="ra ra-player-dodge ra-2x"></i>
			<i class="ra ra-player-teleport ra-2x"></i>
			<br>
            <label for="car">Características</label>
            <select id="car" [(ngModel)]="_car" name="char" #car="ngModel">
            <option class="form-control" *ngFor="let item of cars"  [value]="item">{{item}}</option>
        </select>
        </div>

        <button class="css3button" type="submit" [disabled]="formulario.invalid">Cadastrar</button>
    </form>
</div>

<div class="w3-container w3-black col-6" *ngIf="enviado">
    <div>
        <h2>Dados do contato Enviado!</h2>
    </div>

    <div>
        <p>Nome do Contato: <strong>{{_nome}}</strong></p>
    </div>

    <div>
        <p>Nick do Usuário: <strong>{{_nick}}</strong></p>
    </div>

    <div>
        <p>Email do Contato: <strong>{{_email}}</strong></p>
    </div>

    <div>
        <p>Classe Escolhida: <strong>{{_tipo}}</strong></p>
    </div>
	
	
    <button class="css3button" (click)="voltar()">Voltar</button>
</div>