<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container w3-black">
	<h2>Contatos Cadastrados</h2>

<div class="row justify-content-start">
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nick</th>
                    <th>Classe</th>
                </tr>

            </thead>

            <tbody>
                <tr [ngStyle]="{'cursor': 'pointer'}" *ngFor="let item of listaDeContatos, let i = index" (click)="contatoClidado(i)">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.nick}}</td>
                    <td>{{item.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>