<div class="jumbotron">
<div class="w3-bar w3-black">
  <div class="w3-bar-item"></div>
    <h1>
        Cadastre-se
    </h1>
	

    <br>
    <br>

    <app-dados-usuario></app-dados-usuario>

    <br>
    <br>

    <div class="row">
        <div class="col">
            <app-lista-usuario (idClicado)="enviarDetalhe($event)"></app-lista-usuario>
        </div>

        <div class="col">
            <app-detalhe-usuario [contato]="contatoclicado"></app-detalhe-usuario>
        </div>

    </div>
</div>